html {
    width: 100%;
    height: 100%;

    background: linear-gradient(134deg, #16bffd, #cb3966, #a43931);
    background-size: 600% 600%;

    -webkit-animation: breathe 25s ease infinite;
    -moz-animation: breathe 25s ease infinite;
    animation: breathe 25s ease infinite;
}

.navbar {
    margin: auto;
    width: 75%;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 3.5rem;
    color: white;
}

.glass {
    backdrop-filter: blur(9px) saturate(110%);
    -webkit-backdrop-filter: blur(9px) saturate(110%);
    background-color: rgba(17, 25, 40, 0.65);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}


@-webkit-keyframes breathe {
    0% {
        background-position: 10% 0%
    }

    50% {
        background-position: 91% 100%
    }

    100% {
        background-position: 10% 0%
    }
}

@-moz-keyframes breathe {
    0% {
        background-position: 10% 0%
    }

    50% {
        background-position: 91% 100%
    }

    100% {
        background-position: 10% 0%
    }
}

@keyframes breathe {
    0% {
        background-position: 10% 0%
    }

    50% {
        background-position: 91% 100%
    }

    100% {
        background-position: 10% 0%
    }
}

.todo{
    font-size: 25px;
    /* font-weight: 600; */
    width: 35%;
    height: auto;
    text-align: center;
    margin-bottom: 0.85em;
}

ul {
    height: 100%;
    margin-top: 5rem;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: column;
}

li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
}

span{
    margin-left: 2rem;
}

.imported-button {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(
        to right,
        #25aae1,
        #4481eb,
        #04befe,
        #3f86ed
      );
      box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
  }
  
  .imported-button:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .imported-button:focus {
    outline: none;
  }

  .input-div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }